@(authInfo: utils.AuthInfo, mode: play.api.Mode.Mode)(implicit staticWebJarAssets: StaticWebJarAssets)

@npmWebJarUrl(name: String) = @{ staticWebJarAssets.getUrlNpm(name, "").dropRight(1) }

<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Force NPM</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" type="text/css" href="@staticWebJarAssets.getUrl("salesforce-lightning-design-system", "assets/styles/salesforce-lightning-design-system.min.css")"/>

        <script src="@staticWebJarAssets.getUrlNpm("svg4everybody", "dist/svg4everybody.min.js")"></script>

        <script src="@staticWebJarAssets.getUrlNpm("core-js", "client/shim.min.js")"></script>
        <script src="@staticWebJarAssets.getUrlNpm("zone.js", "dist/zone.js")"></script>
        <script src="@staticWebJarAssets.getUrlNpm("reflect-metadata", "Reflect.js")"></script>
        <script src="@staticWebJarAssets.getUrlNpm("systemjs", "dist/system.src.js")"></script>

        <script>
            var idUrl = '@authInfo.idUrl';
            var accessToken = '@authInfo.accessToken';
            var refreshToken = '@authInfo.refreshToken';
            var instanceUrl = '@authInfo.instanceUrl';
            var logoutUrl = '@routes.Application.login()';
            var mode = '@mode.toString()';

            (function(global) {
                var map = {
                    'app':                                                '@routes.Assets.versioned("app").url',
                    'symbol-observable':                                  '@npmWebJarUrl("symbol-observable")',
                    'rxjs/Rx':                                            '@staticWebJarAssets.getUrlNpm("rxjs", "bundles/Rx.umd.js")',
                    'rxjs/Subject':                                       '@staticWebJarAssets.getUrlNpm("rxjs", "bundles/Rx.umd.js")',
                    'rxjs/observable/PromiseObservable':                  '@staticWebJarAssets.getUrlNpm("rxjs", "bundles/Rx.umd.js")',
                    'rxjs/operator/toPromise':                            '@staticWebJarAssets.getUrlNpm("rxjs", "bundles/Rx.umd.js")',
                    'rxjs/Observable':                                    '@staticWebJarAssets.getUrlNpm("rxjs", "bundles/Rx.umd.js")',
                    'rxjs/add/operator/map':                              '@staticWebJarAssets.getUrlNpm("rxjs", "bundles/Rx.umd.js")',
                    'auto-complete':                                      '@npmWebJarUrl("ng2-auto-complete")',
                    '@@angular/core':                                     '@npmWebJarUrl("angular__core")',
                    '@@angular/common':                                   '@npmWebJarUrl("angular__common")',
                    '@@angular/compiler':                                 '@npmWebJarUrl("angular__compiler")',
                    '@@angular/http':                                     '@npmWebJarUrl("angular__http")',
                    '@@angular/platform-browser':                         '@npmWebJarUrl("angular__platform-browser")',
                    '@@angular/platform-browser-dynamic':                 '@npmWebJarUrl("angular__platform-browser-dynamic")'
                };

                var packages = {
                    'app':                                                { main: 'main.js', defaultExtension: 'js' },
                    'symbol-observable':                                  { main: 'index.js', defaultExtension: 'js' },
                    'auto-complete':                                      { main: 'dist/index.js', defaultExtension: 'js' }
                };

                var ngPackageNames = [
                    'core',
                    'common',
                    'compiler',
                    'http',
                    'platform-browser',
                    'platform-browser-dynamic'
                ];

                // Individual files (~300 requests):
                function packIndex(pkgName) {
                    packages['@@angular/'+pkgName] = { main: 'index.js', defaultExtension: 'js' };
                }

                // Bundled (~40 requests):
                function packUmd(pkgName) {
                    packages['@@angular/'+pkgName] = { main: 'bundles/' + pkgName + '.umd.js', defaultExtension: 'js' };
                }

                // Most environments should use UMD; some (Karma) need the individual index files
                var setPackageConfig = System.packageWithIndex ? packIndex : packUmd;

                // Add package entries for angular packages
                ngPackageNames.forEach(setPackageConfig);

                var config = {
                    map: map,
                    packages: packages
                };

                System.config(config);

                function loadSvg(url) {
                    var ajax = new XMLHttpRequest();
                    ajax.open('GET', url, true);
                    ajax.send();
                    ajax.onload = function(e) {
                        var div = document.createElement('div');
                        div.innerHTML = ajax.responseText;
                        document.body.insertBefore(div, document.body.childNodes[0]);
                        svg4everybody();
                    };
                }

                loadSvg('@staticWebJarAssets.getUrl("salesforce-lightning-design-system", "assets/icons/doctype-sprite/svg/symbols.svg")');
                loadSvg('@staticWebJarAssets.getUrl("salesforce-lightning-design-system", "assets/icons/utility-sprite/svg/symbols.svg")');
                loadSvg('@staticWebJarAssets.getUrl("salesforce-lightning-design-system", "assets/icons/action-sprite/svg/symbols.svg")');

            })(this);

            System.import('app').catch(function(err){ console.error(err); });
        </script>
    </head>
    <body>
        <my-app></my-app>
    </body>
</html>
